
#AdminSidebar {
	position: fixed;
	z-index: 1002;
	top: 0;
	left:  -150px;
	width:  250px;
	height: 150%;
	background: #333;
	box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
	transform: rotateZ(45deg);
	transform-origin: 100% 0%;
	transition: all 0.5s;
}
body.admin #AdminSidebar {
	left:      0;
	transform: rotateZ(0deg);
}


#AdminContent {
	position: fixed;
	z-index: 1001;
	left:       0px;
	bottom:     0px;
	width:   2000px;
	height:  2000px;
	background: #eaeaea;
	transform: rotateZ(90deg);
	transform-origin: 0% 100%;
	transition: all 0.5s;
}
body.admin #AdminContent {
	left: 250px;
	transform: rotateZ(0);
}


#Logo {
	position: fixed;
	z-index: 1003;
	top:   -20px;
	left:  -80px;
	width: 200px;
	height:100px;
	opacity: 0;
	background: url(/img/logo.png) no-repeat center;
	transform: rotateZ(45deg);
	transition: all 0.4s;
}
body.admin #Logo {
	opacity: 1;
	top:  20px;
	left: 20px;
	transform: rotateZ(0);
	transition: all 0.7s;
}


#Search {
	position: fixed;
	z-index: 1003;
	top:   100px;
	left:   20px;
	width: 170px;
	padding: 3px 10px 4px 36px;
	font-size: 20px;
	color: #555;
	opacity: 0;
	background: #fafafa url(/img/search.png) no-repeat 10px 45%;
	border: none;
	border-radius: 50px;
	transition: all 0.4s;
}
body.admin #Search {
	opacity: 1;
	top: 120px;
	transition: all 1s ease 0.5s;
}



