
#app-menu * {
	user-select: none;
	-webkit-user-select: none;
}

#app-menu {
	position: fixed;
	z-index:  9;
	top: 0;
	right:  0px;
	width: auto;
	padding: 0 30px 0 30px;
	color: #fff;
	background: #475;
	border-radius: 0 0 0 3px;
	box-shadow: -1px 1px 2px rgba(0,0,0, 0.3);
	transition: all 0.3s;
}
body.admin
#app-menu {
	top: -50px;
}

#app-menu b {
	display: inline-block;
	padding: 0 30px 0 0;
	cursor: default;
	font-size: 32px;
	color: #B9C4B2;
}

#app-menu a {
	text-decoration: none;
}

#app-menu button, #app-menu a {
	display: inline-block;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
	font-family: arial;
	font-size: 18px;
	color: rgba(255,255,255, 0.5);
	background: none;
	border: none;
	border-bottom: 3px solid rgba(255,255,255, 0);
	transition: all 0.3s;
}
#app-menu button:hover, #app-menu a:hover {
	color: rgba(255,255,255, 0.9);
	border-bottom-color: rgba(255,255,255, 0.4);
}
#app-menu button:active {
	color: rgba(255,255,255, 0.3);
	border-bottom-color: #fff;
	transition: none;
}
#app-menu button.selected {
	color: #fff;
	border-bottom-color: rgba(255,255,255, 0.7);
}


