
#Map {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#clean-map-button {
  position: absolute;
  z-index: 99;
  right: 50px;
  bottom:30px;
  width: 70px;
  height:54px;
  cursor: pointer;
  font-size: 14px;
  font-family: arial;
  color: #404040;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  transition: all 0.3s;
}
#clean-map-button:hover {
  background: #f8f8f8;
}
body.loading
#clean-map-button {
  opacity: 0;
  transform: scale(0,0);
}


/*
 * The path-start class is added to each line
 * to manage its animation - this interpolates
 * between the starting and ending values for the
 * stroke-dashoffset css property
 */
.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in;
     -moz-transition:stroke-dashoffset 5s ease-in;
       -o-transition:stroke-dashoffset 5s ease-in;
          transition:stroke-dashoffset 5s ease-in;
 }

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0, 0.1)
}

.info {
    min-height: 110px;
    cursor: default;
    padding: 10px 10px 20px 10px;
    background: #D1DBCB;
    border: none;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 3px 8px rgba(0,0,0, 0.5);
}

.info thead {
  font-weight: bold;
}

.info h3 {
    margin: 0;
    padding: 5px 2px 2px 0;
    font-family: arial;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: lighter;
    text-align: left;
    font-size: 23px;
    color: rgba(0,0,0, 0.3);
}

.info.legend.leaflet-control {
    margin-top: 150px;
    margin-right: 50px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info table td {
  padding: 2px 5px;
}

#routes {
  border-spacing:  0px;
}


#routes tr:hover {
  background: #575;
  color: white;
  font-weight: 600;
}

.travelduration {
  background:white;
  border:2px solid;
  /*color:#30a07A;*/
  margin:-7px -19px;
  width: 75px;
  text-align:center;
  border-radius:10px;
  font-weight:bold;
  -moz-transform: translateZ(1px);
  -webkit-transform: translateZ(1px); 
}

path.leaflet-clickable.route {
    /*stroke:#30a07A;*/
    stroke-width:10px;
    stroke-dashoffset: 10000; 
    stroke-dasharray:10000; 
    /*stroke-linecap: butt;*/
    -moz-transition:stroke-dashoffset 10s;
    -webkit-transition:stroke-dashoffset 10s;
    pointer-events:none;
    stroke-opacity: 1.0;
}

path.leaflet-clickable.bbox {
    stroke: #885C22;
    stroke-width: 3px;
    stroke-dasharray: 20, 10, 5, 5, 5, 10;
    fill: rgba(0,0,0,0);
    /*stroke-linecap: butt;*/
    pointer-events: none;
    stroke-opacity: 0.9;
}


